.add-button-icon {
  font-size: 64px;
  opacity: 0.2;
  margin-bottom: 10px;
}
.add-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 324px;
  margin-top: 16px;
}
