$primary: #0078aa;
$primary-darken: #F8CB2E;
$secondary: #EE5007;
$primary-text: #4e5565;
$site-primary-text: #4e5565;

$bg: #f6f6f6;
$padding-space: 144px;
$border-color: rgba(229, 231, 235, 100);

$sm-size: 20px;
$md-size: 35px;
