$primary: #d2001a;
$secondary: #ffde00;
$primary-text: #006e7f;
$secondery-text: #4e5565;
$primary-font: 'Mouse Memoirs', sans-serif;

$bg: #f6f6f6;
$border-color: rgba(229, 231, 235, 100);

$sm-size: 20px;
$md-size: 35px;
