@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import './scssVariables';

body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Proxima Nova Rg', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

.body {
  width: 80%;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 20px auto 20px;
  padding: 20px;
}
@media only screen and (max-width: 400px) {
  .body {
    width: 90%;
    padding: 10px;
    top: 100px;
  }
  .profile.body {
    top: 150px;
  }
}



