.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .cover {
    background-position: center top;
    background-size: cover;
    background-repeat: repeat;
    min-height: 180px;
  }
}
